@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(14, 98%, 50%);
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: hsl(0, 0%, 83%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: var(--font-suite);
  --headline-small: 1.25rem;
  --title-small: 0.75rem;
  --body-large: 1.125rem;
  /* --display-large: 3.2rem;
  --display-medium: 2.5rem;
  --display-small: 2rem;
  --headline-large: 1.8rem;
  --headline-medium: 1.5rem;
  --headline-small: 1.3rem;
  --title-large: 1.2rem;
  --title-medium: 1rem;
  --title-small: 0.9rem;
  --label-large: 0.9rem;
  --label-medium: 0.8rem;
  --label-small: 0.7rem;
  --body-large: 0.9rem;
  --body-medium: 0.8rem;
  --body-small: 0.7rem; */

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --display-large: 3.5625rem;
    --display-medium: 2.8125rem;
    --display-small: 2.25rem;
    --headline-large: 2rem;
    --headline-medium: 1.75rem;
    --headline-small: 1.5rem;
    --title-large: 1.375rem;
    --title-medium: 1rem;
    --title-small: 0.875rem;
    --label-large: 0.875rem;
    --label-medium: 0.75rem;
    --label-small: 0.6875rem;
    --body-large: 1.25rem;
    --body-medium: 0.875rem;
    --body-small: 0.75rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  padding-inline: 1.5rem;
  margin: 0 auto;
}
